################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NNHub/v17
/.vs/NNHub/FileContentIndex
/NNHub/mnist_test
/NNHub/mnist_train
/vendor/Web/bin
/vendor/Web/bin-int
*.vcxproj
*.filters
*.user
*.sln
