################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NNHub/v17
/.vs/NNHub/FileContentIndex
/NNHub/mnist_test
/NNHub/mnist_train
/vendor/Web/bin
/vendor/Web/bin-int
*.vcxproj
*.filters
*.user
*.sln
/NNHub/MyCNN
/NNHub/MyCNNFile
/NNHub/output2.nn
/bin/Release-windows-x86_64
/bin-int/Release-windows-x86_64/NNHub/NNHub.tlog
/bin-int/Release-windows-x86_64
